@charset "UTF-8";
body{
	background:url(../images/loginooo.jpg) no-repeat;
}
.form{
	margin:200px 100px 100px 517px;
	height:450px;
	width:480px;
	background-color:rgba(255,255,255,0.5);
}
.form h1{	
	color:#0090cd;
}
.loginform{
	background:#fff;
	padding:60px 0px 40px 0px ;
	height:100px;
	width:480px;
	
}
input[type="password"]{
	height:35px;
	width:170px;
    -webkit-border-radius: 15px;
    border:none;
    outline:none;
    font-size:20px;
    color:#08877c;
    background-color:rgba(255,255,255,0.75);
}
input[type="text"]{
	height:35px;
	width:170px;
    -webkit-border-radius: 15px;
    border:none;
    outline:none;
    font-size:20px;
    color:#08877c;
    background-color:rgba(255,255,255,0.75);
    letter-spacing:1px;
    font-family:Arial;
    font-weight:bold;
}
input[type="submit"],[type="reset"],[type="button"]{
	background:#08877c;
	font-size:20px;
	color:#fff;
	height:35px;
	width:100px;
	border:none;
/* 	border-radius:4px; */
	-webkit-border-radius: 19px;
/*   -moz-border-radius: 6px; */
/*   -o-border-radius: 6px; */

}
p{
	font-size:23px;
	color:#08877c;
}
a{
	font-size:20px;
	color:#fff;
}
a:link { text-decoration: none; } /*正常情况下无下划线*/
a:visited { text-decoration: none; } /*访问过的链接无下划线*/
a:hover { text-decoration: underline; } /*鼠标指向时显示下划线*/
a:active { text-decoration: underline; } 